.swiper-layout{
    position: relative; 
    width:100vw;
    height: auto;
    display: flex; 
} 

.swiper-pagination {
    position: relative;   
    display: flex;
    height:100%;
	  flex-direction: column; 
    align-items: center;
    justify-content: center;
    user-select: none;
}


.swiper-pagination-bullet{
  cursor: pointer;
	height:7px;
  width:7px;
	border-radius: 250px;
	opacity: 1; 
	outline: none; 
	background-color:#fff;
  border:1px solid #323232;
	margin-bottom: 16px !important;
 
}
 
 
.swiper-pagination-bullet-active {
	outline: none; 
  width: 12px;
  min-width: 12px;
  max-width: 9px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  background-color: #323232;
  border-radius: 50px;
}
